@import "tailwindcss";

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* Cyberpunk-themed scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff00ff;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00ffff;
  }
  
  